Source: dpilib
Section: contrib/net
Priority: extra
Maintainer: OS Maintainers <yyddyylince@126.com>
Build-Depends:
Standards-Version: 3.8.4

Package: dpilib
Architecture: any
Depends:
Description: Is a DPI library in C intended for 
 Packets checking.
